.auth-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgb(255, 232, 255);
  width: 400px;
  margin: 50px auto;
  padding: 10px;
height: 500px;
}
