.logo {
  img {
    height: 4rem;
    width: auto;
  }}

.cart {
  position: relative;
  text-decoration: none;

}


  .cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: black;
    color: white;
    padding: 0 5px;
    border-radius: 50%;
    font-size: 0.7rem;

  }

.user {
  display: grid;
  position: relative;
  text-decoration: none;
}
