<div class="d-flex gap-4">
  <div class="sidebar">
    <div class="list-group">
      <a [routerLink]="['/products']"
         class="list-group-item list-group-item-action">All</a>
      <a *ngFor="let category of categories$ | async"
         [routerLink]="['/products']"
         [queryParams]="{category: category.id}"
         routerLinkActive="active"
         class="list-group-item list-group-item-action">
        {{category.name}}
      </a>
    </div>
  </div>

  <div class="flex-fill">
    <div>
      <input type="search" class="form-control" placeholder="Search" [ngModel]="search" (ngModelChange)="searchHandle($event)">
    </div>
    <div class=" product-items">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
  </div>
</div>
