.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 14%);
  cursor: pointer;

  .card-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .price {
    font-size: 1.5rem;
    margin: 0;
    color: #1a9fbc;
  }
}
